.add-a-book-button{
font-size: 20px;
}
.header{
    margin-top:40px;
    margin-bottom:70px;
    font-size: 40px;
}
.e-library-title{
    width:50%;
    display: inline-block;
    margin-right: 70px;
    padding-left: 30px;
}
.book-detail-cards-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-evenly;
    width: 100%;
    align-items: center;
    overflow-x: hidden;
    padding: 0 20px 0 20px;
    row-gap: 50px
    
}

.flex-item {
    width: 20%;
    aspect-ratio : 1 / 1;
    border: 2px solid black;
    border-radius:8px;
    flex-grow: 1;
    flex-shrink:1;
    flex-basis:auto;
    //flex: 1 1 auto;
   //padding: 10px,10px,10px,10px;
  }